{% extends "layout.html" %}

{% block content %}
 <h1>Meet the Man Behind the Wheel!</h1>
        <span class="center"><img src="static/images/me_inThailand2.jpg" height="400" width="600"></span>
        <p>My name is Jacques, I was born and rasied in the San Francisco Bay Area. I've been living in the Northern Virginia area for nearly three yeas now. Before moving to Virginia I was living and working the Middle East countries of Bahrain, Qatar, and the United Arab Emirates.This past summer I took a motorcycle tour of Thailand with these guys, <a href="http://bigbiketours.com/">Big Bike Tours</a>, highly encourage this for anyone with a M1 license and a sense of adventure.</p>  
        <p>My interests include cooking, traveling, motorcycles, and home improvement. Currently I am an undergrad studying Computer Science at the <a href="http://umw.edu/">University of Mary Washington</a>, with ambitions to continue on with a Masters degree in Software Engineering.</p>
        <p></p><p>Happy Motoring!</p>
        <p>-Jacques</p>
{% endblock %}

