{% extends "layout.html" %}
{% block content %}
    
    <div class="wrapper">
        <h1>Member Chat Room<font color="orange"></h1>
        <h2>Chat LIVE with members here</h2>
        <p>USERNAME GOES HERE</p>
        
        <div class="scroll" id="msgpane">
            <p>Chat messages will appear here</p>
        </div>
        
        <form>
            <input type="text" size="30" placeholder="Enter your message here">
            <input type="submit" value="Send">
        </form>
        
    </div>
    {% endblock %}