{% extends "layout.html" %}

{% block content %}
 <h1>Welcome <font color="orange">{{user[0]}} {{user[1]}}</font>!</h1>
 <h2>Meet the Beautiful <font color="orange">Roxanne</font>!</h2>
        <p>Conceived by none other than the infamous John DeLorean, Roxanne was born in Fremont California late 1971. Admittingly a far cry from her ancestral models, she still carries all the qualities that warrant the Muscle Car designation.</p>
        <p>Roxanne and I met many years ago, through a craigslist ad, and no not in the personals section. Originally it was all business. Listed in the cars section was a reasonably priced, in running condition 1971 Pontiac GTO. It was evident that Roxanne had seen some interesting, and fun miles, however she sure wasn’t ready to quit. After a quick check of the VIN, an exchange of money, and a hand shake – we were off, making trouble in record time.</p>
        <p>Life has a funny way of turning out exactly how you didn’t plan. After a few open-ended motorcycle relationships, a sabbatical on Oahu and a three-year stint in the GCC, Roxanne, began to feel lonely and was understandably upset when I informed her of my decision to move to Virginia. After much consolation and reassurance, she agreed to come along.</p>
        <p>Her conditions were that I must spend a whole lot more time with her. Being the outstanding type of guy that I am, never breaking promises and all, I've decided to go all out and document all impending adventures on our road to recovery.</p>
        <p>Visit often to save yourself form some painful mistakes I will no doubt be documenting here. Enjoy the site.</p>
        <p></p><p>Happy Motoring!</p>
        <p>-Jacques</p>
        <p></p>
        <p></p>
        <p>A test <a href="/error">link</a> for the error page.</p>
{% endblock %}

