{% extends "layout.html" %}

{% block content %}
 <h1>Members<font color="#09D4FF">Login!</font></h1>
  <p></p>
  {% if error %}
  <h2>Sorry either your login or password is entered incorrectly, else you are not <a href="/form">Registered.</a></h2>
  {% else %}
  <h2>Enter in your login information.</h2>
  {% endif %}
  <p></p>
  <div>
    <h3>Member Login</h3>
    <form method="POST" action="/">
    <p>FIRST NAME<br>
    <input type="text" name="fn" autofocus /></p>
    <p>PASSWORD<br>
    <input type="password" name="pass" autocomplete="off" /></p>
    <input type="submit" />
    </form>
  </div>
{% endblock %}

